body{
    color: rgb(255, 255, 255);
}

.top-right-links {
    position: static;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.register-button {
    display: block;
    margin-top: 10px;
}

.next-line a:active {
    color:  rgb(252, 102, 237);
}
.pink-line {
    border: 1px solid transparent;
    border-top-color: rgb(254, 56, 89);
    width: 100%;
}

.hack {
    text-align: center;
    background-color: lightblue; 
}
.hack-name {
    font-size: 26px;
    color: purple; 
}
.center-button {
    text-align: center;
    margin-top: 20px;
}
.transparent-button {
    background-color: rgb(150, 0, 0);
    border: 2px solid pink; 
    padding: 10px 20px;
    font-size: 16px;
    color: pink; 
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
.transparent-button:hover {
    background-color: pink; 
    color: rgb(254, 156, 0); 
}
.transparent-button:focus {
    outline: none; 
    background-color: rgb(194, 64, 187); 
    color: rgb(139, 26, 26); 
}
.transparent-button:active {
    background-color: rgb(152, 230, 240); 
    color: rgb(94, 91, 91); 
}
.bg{
    background-image: url("bgweb.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}
.join-us-button {
    position: static;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-icons {
    text-align: center;
    margin-top: 350px;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
}